body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerTitulo {
    height: 80px;
    margin: 15px;
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 40px;
    color: white;
}

nav {
    height: 80px;
    margin: 15px;
}

.navbar {
    background-color: #535353;
}

nav a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav a:hover {
    color: #1ED760;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.containerCartas {
    border: solid 2px black;
    height: auto;
    margin: 15px;
}

.card {
    margin: 50px 100px 50px 100px;
}

.card-header {
    background-color: #1ED760;
}

h3 {
    margin-left: 20px;
    color: #ffff;
}

.card-body {
    background-color: #535353;
}

h5 {
    color: #ffff;
}

.form-check,
.form-switch {
    color: #ffff;
}

/* Cambiar el color del switch checkbox a blanco cuando está apagado */
.form-check-input {
    background-color: #fff;
    /* Color blanco */
}

/* Cambiar el color del switch checkbox a verde cuando está seleccionado */
.form-check-input:checked {
    background-color: #4CAF50;
    /* Color verde */
}

/* Cambiar el color del switch checkbox a blanco cuando está deshabilitado */
.form-check-input:disabled {
    background-color: #eee;
    /* Color gris claro o blanco */
}

/* Cambiar el color del switch checkbox a verde cuando está deshabilitado y seleccionado */
.form-check-input:disabled:checked {
    background-color: #7CB342;
    /* Puedes cambiar el código de color según tus preferencias */
}