body {
    background-color: #191414;
}

.containerTitulo {
    height: 80px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-left: 40px;
    color: #1ED760;
}

.btn {
    background-color: #1ED760;
}

.btn:hover {
    background-color: #1db954;
}

.button-container {
    margin-right: 150px;
    color: #1ED760;
}

nav {
    height: 80px;
    margin: 15px;
}

.navbar {
    background-color: #535353;
}

nav a {
    text-decoration: none;
    color: #FFFF;
    display: flex;
    align-items: center;
}

nav i{
margin:15px;
}

nav a:hover {
    color: #1ED760;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.dropdown a {
    color: #FFFF;
}

.dropdown a:hover {
    color: #1ED760;
}

.dropdown-menu {
    background-color: #1ED760;
}

.containerCartas{
    border: solid 4px #ffff;
    height: 200px;
    width: 200px;
    text-decoration-color: white;
}